body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#modal {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url("/images/backgd.png");
  overflow: hidden;
}
#modal article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  height: 20%;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 58, 16, 0.739);
  color: #fdfcfc;
  text-align: center;
  cursor: pointer;
}
#modal article h1 {
  font: 5em "Cinzel", serif;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
}
canvas h1 {
  visibility: hidden;
  font-family: 15em "Cinzel", serif;
  color: white;
}